<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<bean id="scheduledTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="delay" value="0"></property>
		<property name="period" value="300"></property>
		<property name="timerTask" ref="reportTask"></property>
	</bean>

	<bean id="reportTask" class="org.suren.task.ReportTask"></bean>
	<bean id="weatherTask" class="org.suren.task.WeatherTask"></bean>

	<!--
	 -->
	<bean name="weatherTaskBean" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="org.suren.task.WeatherTask"></property>
		<property name="jobDataAsMap">
			<map>
				<entry key="cityService" value-ref="cityServiceIpml"></entry>
				<entry key="weatherService" value-ref="weatherServiceImpl"></entry>
			</map>
		</property>
	</bean>

	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="weatherTaskBean"></property>
		<property name="cronExpression" value="0 * * * * ?"></property>
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger"/>
			</list>
		</property>
	</bean>
</beans>
